/*! Websites Kit | MIT License | github.com/itsosmx/Osmx-Websites-Kit */


/* Grosse */

:root {
    --ox-5-Grosse: #05386B;
    --ox-5-Grosse: #379683;
    --ox-5-Grosse: #5CDB95;
    --ox-5-Grosse: #8EE4AF;
    --ox-5-Grosse: #EDF5E1;
}


/* Colorful */

:root {
    --ox-5-Colorful: #E27D60;
    --ox-5-Colorful: #84cdca;
    --ox-5-Colorful: #e8a87c;
    --ox-5-Colorful: #c38d9d;
    --ox-5-Colorful: #40b3a2;
}

/* Bright */

:root {
    --ox-5-Bright: #242482;
    --ox-5-Bright: #553D67;
    --ox-5-Bright: #F64C72;
    --ox-5-Bright: #99738E;
    --ox-5-Bright: #2F2FA2;
}

/* Natural */

:root {
    --ox-5-Natural: #8D8741;
    --ox-5-Natural: #659DBA;
    --ox-5-Natural: #DAAD86;
    --ox-5-Natural: #BC988A;
    --ox-5-Natural: #FBEEC1;
}

/* DeepPurples */

:root {
    --ox-5-DeepPurples: #0C0032;
    --ox-5-DeepPurples: #190061;
    --ox-5-DeepPurples: #240090;
    --ox-5-DeepPurples: #3500D3;
    --ox-5-DeepPurples: #282828;
}

/* Contemporary */

:root {
    --ox-5-Contemporary: #1A1A1D;
    --ox-5-Contemporary: #4E4E50;
    --ox-5-Contemporary: #6F2232;
    --ox-5-Contemporary: #950740;
    --ox-5-Contemporary: #C3073F;
}