/*! Websites Kit | MIT License | github.com/itsosmx/website-kit */

/* Compote */

:root {
    --ox-4-Compote: #934A5F;
    --ox-4-Compote: #57648C;
    --ox-4-Compote: #C2B4D6;
    --ox-4-Compote: #E5E5E5;
}

/* Scholar */

:root {
    --ox-4-Scholar: #333D51;
    --ox-4-Scholar: #D3AC2B;
    --ox-4-Scholar: #CBD0D8;
    --ox-4-Scholar: #F4F3EA;
}

/* Harbor */

:root {
    --ox-4-Harbor: #354649;
    --ox-4-Harbor: #6C7A89;
    --ox-4-Harbor: #A3C6C4;
    --ox-4-Harbor: #E0E7E9;
}

/* Gecko */

:root {
    --ox-4-Gecko: #9F4298;
    --ox-4-Gecko: #CFDB31;
    --ox-4-Gecko: #D1AFD3;
    --ox-4-Gecko: #E6E7E8;
}

/* Brisk */

:root {
    --ox-4-Brisk: #4C4556;
    --ox-4-Brisk: #872642;
    --ox-4-Brisk: #F6C026;
    --ox-4-Brisk: #A0D3F9;
}

/* Pebble */

:root {
    --ox-4-Pebble: #433E49;
    --ox-4-Pebble: #928490;
    --ox-4-Pebble: #DBC1AD;
    --ox-4-Pebble: #F3E8EB;
}

/* Condiments */

:root {
    --ox-4-Condiments: #E2495B;
    --ox-4-Condiments: #C4BA3B;
    --ox-4-Condiments: #F4ED6E;
    --ox-4-Condiments: #FFFEE6;
}

/* Harvest */

:root {
    --ox-4-Harvest: #8E7C68;
    --ox-4-Harvest: #ED7458;
    --ox-4-Harvest: #FFDC9F;
    --ox-4-Harvest: #DDC9BC;
}

/* Uncorked */

:root {
    --ox-4-Uncorked: #7F056E;
    --ox-4-Uncorked: #C09247;
    --ox-4-Uncorked: #CAB387;
    --ox-4-Uncorked: #F2EBE0;
}

/* Scuba */

:root {
    --ox-4-Scuba: #0C4A60;
    --ox-4-Scuba: #EF6C33;
    --ox-4-Scuba: #ABDFF1;
    --ox-4-Scuba: #E1DDDB;
}